<%= render 'components/header', title: @title  %>

 <section>
<% @pokemons.each do |pokemon| %>
<article><%= pokemon[:name] %></article>
<% end %>
</section> 

<%= paginate @pokemons %>

 <%= render 'components/footer' %>  
