<%= render 'components/header', title: @title  %>

<div class="pokemon-type">
<ul>
<% @pokemons.each do |poke| %>
<li><%= poke[:name] %></li>
<% end %>
</ul>
</div>

<%= paginate @pokemons %>

 <%= render 'components/footer' %>  
